
body{
    margin: 0;
    padding: 0;
    /* width: 100; */
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    --orange: hsl(356, 100%, 66%);
    --dark-blue: hsl(208, 49%, 24%);
    --light-red: hsl(355, 100%, 74%);
    --White: hsl(0, 0%, 100%);
    --Grayish-blue: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue: hsl(207, 13%, 34%);
    --Very-dark-black-blue: hsl(240, 10%, 16%);

    /* mobile */
    --Very-light-red: hsl(13, 100%, 72%);
    --Light-red-mobile: hsl(353, 100%, 62%);

    /* Background gradient - body: */

    --Very-dark-gray-blue: hsl(237, 17%, 21%);
    --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

.header{
    background: var(--orange) ;
    color: white

}

.header  a {
    /* color: white; */
}

.title{
    color: white;
    font-weight: 600;
    font-size: 24px;
    margin-right: 20px;
}

.title-left{
    display: flex;
    align-items: center;
}


#header{
    height: 70vh;
    max-height: 70vh;
    border-bottom-left-radius: 100px;
    font-family: 'Overpass', sans-serif;
}

.content{
    padding: 20px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.nav-buttons{
    text-decoration: none;
    display: flex;
}

a{
    text-decoration: none;
    color: var(--White);
}

li{
    text-decoration: none;
    margin-right: 10px;
    padding: 5 10px;
    list-style: none;
}

.signUp a{
    background: white;
    padding: 12px;
    border-radius: 20px;
    color: var(--orange)
}

.menu{
    position: relative;
}
.drop-menu{
    background: white;
    position: absolute;
    display: none;
}


.drop-menu li {
    display: flex;
    color: #000;
}

.drop-menu a {
    display: flex;
    color: #000;
}

#product:hover .menu-product {
    display: block;

}


.titles{
 text-align: center;
 margin-bottom: auto;
 margin-top: auto;
}

.buttons{
 text-align: center;
}
.buttons > a {
    padding: 10px;
    border: solid 1px #fff;
    border-radius: 40px;
}

.buttons  a:first-child {
    background: #fff;
    color: var(--orange)
}

.buttons > a:nth-child(2){

}
.titles{
    margin: 20px 0;
}


.titles h1 {
    font-size: 32px;
    margin: 10px 0;
}

.titles p {
    font-size: 12px;
}



/* section 2 */

.title-section{
    text-align: center;
    padding: 50px 0px;
}

#section2{
    background: var(--White);
    height: 100vh;

}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 100px;
    margin-right: 100px;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex;
    /* flex-direction: row-reverse; */
    /* justify-content: space-around; */ */
    /* align-items: center; */
}

.text-info{
    margin: auto;   
}
.image-content{
    position: relative;
}

.image-content > img{
    width: 600px;
    /* margin-right: -290px; */
    position: absolute;
    top: -150px;
    right: -300px;
} 



/* section 3 */
#section3{
    height: 400px;
    background: var(--Very-dark-desaturated-blue);
    color: var(--White);
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}


.phones-images > img{
    margin-top: -70px;    
}

.text-info{
    margin: auto;    
}
